#tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}
#tabs ul li {
  display: inline;

}
#tabs ul li a {
  text-decoration: none;
  padding: 10px 20px 20px 20px;
  font-size: 30px;
  color: black;
  border-radius: 5px;
}
#tabs {
  background-color: grey;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
#tabs-1,
#tabs-2,
#tabs-3 {
margin: auto;
width: 90%;
margin-bottom: 10px;
border-radius: 5px;
}
ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {
background: pink;
}
ul.tabNavigation li a:hover {
background: #ccc;
color: #000;
}
ul.tabNavigation li a:focus {
outline: 0;
}
div#tabs div {
padding: 5px;
margin-top: 3px;
border: 1px solid #FFF;
background: pink;
}
